*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(178, 231, 252) !important;
    height: 100vhs;
}
.navbar { 
    border-radius: 60px;
    padding: 20px;
    margin: 3px;
font-weight: 600;
}
    

.add__new__btn{

    
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    z-index: 3;
    
    
}
.add__new__btn  button{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;

}
.add__new__btn button i{
    margin: auto;
}

.form-control-custom{
    border-radius: 2.375rem !important;
}
.input-group-custom {
    border-radius: 50px !important;
}
